<h1>Coupons</h1>
<div>
    <% @coupons.each do |coupon|%>
    <div><%=  link_to coupon.coupon_code, coupon_path(coupon) %> | <%= coupon.store %></div>
    <% end %><br>
    <%= link_to "Add Coupon", new_coupon_path%>
</div>