<h1> Coupon Form </h1>

<%= form_for(@coupon) do |f| %>
    <label>Coupon Code:</label><br>
    <%= f.text_field :coupon_code %><br>
  
    <label> Store </label><br>
    <%= f.text_area :store %><br>
  
    <%= submit_tag :"Submit Coupon" %>
  <% end %>